.containerSelectedWork1 {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 5em 1em;
    align-items: start;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding: 2em 0 0 0;
}

.codeSwitchText {

    font-family: proxima-nova;
    text-align: center;
    font-size: 13px;
    font-weight: 900;
    margin-top: 3em;
}


.dateCodeSwitch {

    color: rgba(0, 0 , 0, 0.5);

}

.imgSelectedWork {

    display: flex;
    justify-content: center;

}

.imgBbcBlack {

    width: 300px;

}

.pBbcBlack {

    text-align: center;
    font-family: proxima-nova;
    font-size: 13px;
    font-weight: 900;
    margin-top: 3em;

}

.spanBbcBlack {

    color: rgba(0, 0 , 0, 0.5);
    font-weight: 300;
}

.pMinutes {

    text-align: center;
    font-family: proxima-nova;
    font-size: 13px;
    font-weight: 900;
    margin-top: 3em;

}